body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 20px;
}

.caja {
    border-radius: 10px;
    padding: 24px;
    box-shadow: 1px 8px 20px rgb(196, 196, 196);
    border-top:1px solid rgb(77, 206, 199);border-radius: 10px;

}

.caja p {
    color: grey;
}

.logo {
    display: flex;
    justify-content: flex-end;
}